#carouselControls
{
    width: 90vw;
}

.carousel-inner
{
    height: 800px;
    width: 98.5vw;
    margin-right: -4%;
    margin-left: -4%;
}

.carousel-control-prev
{
    height: inherit;
}

.carousel-control-next
{
    height: inherit;
}

#quote
{
    padding-top: 15%;
}

/* Code from https://www.w3schools.com/howto/howto_css_parallax.asp */
#parallax
{
    /* The image used */
    background-image: url("/media/parallax.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fb-share
{
    padding-right: 2px;
}


@media only screen and (max-device-width: 1366px)
{
    #carouselControls
    {
        height: 170px;
    }

    .carousel-inner
    {
        height: inherit;
    }

    #parallax
    {
        background-attachment: scroll;
    }

    #quote-image
    {
        margin-left: -11px;
    }
}

