main {
    margin: 4%;
    margin-top: 0%;
}

nav {
    min-height: 100px;
}

.navbar-brand {
    padding-left: 4%;
    font-size: 200%;
    letter-spacing: 2px;
}

#navbarSupportedContent {
    padding-right: 4%;
    font-size: 95%;
}

.strip {
    margin-top: 8%;
    margin-bottom: 8%;
}

.strip-title {
    font-size: 4rem;
}

footer {
    margin-bottom: 4%;
}
