---
layout: 'base.html'
permalink: '404.html'
title: 'Not Found'
css: ['blog.scss']
description: "Error 404 - Page Not Found"
---

<div class="content">
  <h1 class="title">404 Not Found</h1>

  <br>

  <p>Sorry, the page you're looking for is not found!</p>

  {% set num = 4 %}
  {% set posts = collections.posts | reverse | limit(num) %}

  <p>Consider reading one of these {{ posts | length }} blog posts instead.</p>

  <h2>Newest</h2>

  <div class="blogList contained">
    <ol reversed>
      {% for post in posts %}
      <li>
        <h4>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          {% for tag in post.data.tags | filterTags %}
          <span class="tag">{{ tag }}</span>  
          {% endfor %}
        </h4>
      </li>
      {% endfor %}
    </ol>
  </div>

  <hr>

  <h4><a href="/blog">...see all posts.</a></h4>

</div>

